spring:
  application:
    name: irentaspro

  datasource:
    url: jdbc:postgresql://pg-3753d7be-irentaspro.f.aivencloud.com:11827/irentaspro?sslmode=require
    username: avnadmin
    password: PLACEHOLDER
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 10000
      connection-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect


  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration
      - org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration

server:
  port: 8080

logging:
  level:
    org.springframework: INFO
