spring:
  application:
    name: irentaspro

  datasource:
    url: jdbc:postgresql://db.fhrvmufuvsmxasphzuym.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: "!0d!jyclJrJX%h^pZLe%"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration
      - org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration

server:
  port: 8080

logging:
  level:
    org.springframework: INFO
